.BorrowingList {
  display: flex;
  flex-direction: column;
  border-radius: 1%;
  flex-grow: 2;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.BorrowingListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 16px;
  height: 3rem;
  font-size: 1rem;
  font-weight: bold;
}

.BorrowingListInner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 16px;
}

.BorrowingItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.BorrowingItemContent {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.BorrowingItemDate {
  font-size: 1rem;
}

.BorrowingItemOwner {
  color: gray;
}

.ProfilePicture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 16px;
}

.DatePart {
  font-weight: bold;
}

.TimePart {
  color: gray;
}