.layout {
  min-height: 100vh;
  position: relative;
  background: url('/images/background.jpg') center / cover no-repeat;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  user-select: none;
  width: 30vw;
  padding: 1rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.95);
}

.logo {
  width: 20vw;
  height: 5vw;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 24px;
}

.googleIcon {
  height: 2rem;
  width: 2rem;
  margin-right: 8px;
}
